body {
    color:#4B2E06;
        overflow-x: hidden; /* Hide horizontal scrollbar */
}
.miniNav {
    text-align: right;
}
.navBarSection {
    padding: 20px;
}
.navBar ul{
    list-style: none;
    text-align: center;
    font-family: Segoe UI Historic;
    font-size: 15px;
    text-transform: uppercase;
}
.navBar li {
    display: inline;
    padding-right: 80px;
    color:#4B2E06;
}
.navBar li:hover {
    color:#7189A0;

}
.navBar a:hover {
    text-decoration: none;
}
.navBar {
    padding-top: 30px;
}       
.indexBody {
    margin: 0;
}
@keyframes slideShow{
    0%{left: 0;}
    20%{left: 0%;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
}
#slider{
    overflow: hidden;
    z-index: bottom;
}
#slider figure img{
    width: 20%;
    float: left;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slideShow infinite;
}
#slider img {
    height: 750px;
    padding-bottom: 30px;
}
.littleCaption, .littleCaptionTwo {
    position: absolute;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.littleCaption {
    padding-left: 275px;
    padding-top: 90px;
    font-size: 70px;
    text-transform: uppercase;
}
.littleCaptionTwo {
    padding-left: 450px;
    padding-top: 500px;
    font-size: 40px;
    text-transform: capitalize;
}
.blurbTwo h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 15px;
}
.blurbTwoInfo {
    text-align: center;
    font-size: 18px;
    padding-bottom: 50px;
}
.readOurStory {
    margin-left: 480px;
    border: .5px;
    padding: 18px;
    border-radius: 3.5px;
    background: #B8D3EC;
    color:#4B2E06;
    text-transform: uppercase;
}
.readOurStory:hover {
    background-color:#4B2E06;
    color:#B8D3EC;
}
.fern {
    text-align: right;
}
.boxOne {
    background-color: #DAF0E9;
    padding-left: 100px;
    padding: 70px;
}
.photoBlurb {
    background-color: white;
    padding: 11px;
}
.boxOneBlurb h2{
    font-family: Century Gothic;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}
.boxOneBlurbP, .boxTwoBlurbP {
    color: #4B2E06;
    font-size: 25px;
    font-family: Sitka Display;
    text-align: center;
}
.boxOneBlurb a:hover, .boxOneBlurb a:hover, .noDecoration:hover {
    text-decoration: none;
}
.boxTwo {
    background-color:#B8D3EC;
    padding: 70px;
}
.igBlurb {
    padding: 90px;
    text-align: center;
}
.igBlurb h2 {
    font-family: Century Gothic;
    text-transform: uppercase;
    font-size: 40px;
}
.igBlurb a {
    font-family: Sitka Banner;
    font-size: 25px;
    color: #4B2E06;
}
.igBlurb a:hover, .boxOneBlurb a:hover {
    text-decoration: none;
    font-size: 30px;
    color:#B8D3EC;
}
.paddingForIg {
    padding-bottom: 30px;
}

.paddingForIg a:hover {
    text-decoration: none;
}
.boxTwoBLurb h2 {
    font-family: Century Gothic;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}
.photoBlurbTwo {
    background-color: white;
    padding: 11px;
}
.paddingBoxTwo {
    padding-left: 40px;
}
.emailListBlurb {
    padding: 5px;
    background-color: #EFF8F5;
}
.emailList {
    font-family: Segoe UI Historic;
    text-transform: uppercase;
    font-size: 20px;
    text-align: right;
}
.icons {
    padding-left: 20px;
}
.footerBackground {
    background-color: #164734;
    padding: 25px;
}
.copyrightBackground {
    background-color: #EFF8F5;
}
.emailAddress {
    height: 40px;
    border-width: .5px;
}
.submitButton {
    background-color: #B8D3EC;
    text-transform: uppercase;
    border: none;
    padding: 10px;
}
.miniNavFooter {
    text-align: center;
}
.footerVisitUs h3, .footerRowTwo h3, .footerRowThree h3{
    color: #B8D3EC;
    font-family: Segoe UI Historic;
    font-size: 25px;
    text-transform: uppercase;
}
.footerVisitUs p, .pageLinks {
    color: white;
    line-height: 1.9;
    list-style: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: Gill Sans MT;
    margin: 0;
}
.footerRowTwo a:hover, .footerRowThree a:hover {
    text-decoration: none;
    color:#B8D3EC;
}
.miniFooter {
    font-family:Segoe UI Historic;
    font-size: 15px;
    text-transform: uppercase;
}
.terms {
    text-align: center;
}
.creatorTag {
    text-align: right;
}
.headerLines {
    text-align: center;
}



/*PLANTS PAGE STYLING*/
.plantHero {
    padding-left: 100px;
}
.plantBlurbBackground{
    background-color: #DAF0E9;
}
.plantsBlurb, .bottomPlantBlurb {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 60px;
}
.postHeroWithCircles {
    margin-left: -192px;
}
.circleList ul {
    list-style: none;
}

.circleList  {
    font-size: 20px;
    font-style: none;
    padding-top: 25px;
}
.circles {
    border-radius: 50%;
}

.inBetween {
    padding-bottom: 71px;
}

.inBetween p {
    font-size: 17px;
    font-style: unset;
    padding-top: 40px;
    font-family: sans-serif;
}
.bottomPlantBlurbBackground {
    background-color:#B8D3EC;
}



/*MEET THE TEAM PAGE STYLING*/

.aboutUsHeader h1, .ourTeam {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color:#B8D3EC;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding: 40px;
}
.aboutUsHeader h1 {
    color: #4B2E06;
}
.aboutUsPhoto {
    padding-left: 20%;
}
.aboutUsBlurbBackground {
    background-color:#B8D3EC;
}
.aboutUsBlurb {
    padding: 20px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}
.littlePadding {
    padding-bottom: 25px;
}
.name {
    font-family: Century Gothic;
}
.name, .favoritePlant, .favoriteProduct {
    text-transform: capitalize;
}
.position {
    text-transform: uppercase;
}




/*VISIT US PAGE STYLING*/
.mapMain {
    padding: 60px;
}
.comeSeeUsBackground {
    background-color: #B8D3EC;
    padding: 50px;
}
.comeSeeUs {
    text-transform: uppercase;
    color: #4B2E06;
    font-family: Century Gothic;
    font-size: 50px;
    padding-bottom: 15px;

}
.comeVisitUsBlurb {
    font-size: 15px;
    font-family: Segoe UI Historic;
}
.hoursAndNumber {
    text-transform: uppercase;
}




/*PRODUCTS PAGE STYLING*/
.greenBackground {
    background-color: #EFF8F5;
}
.blueBackground {
    background-color: #B8D3EC;
}
.blueBackground, .greenBackground {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 70px;
    padding-right: 70px;
}
.productContainer {
    padding: 60px;
}
.productTitle {
    text-transform: uppercase;
    text-align: center;
}
.smallTitles {
    font-family: Segoe UI Historic;
    text-transform: capitalize;
    font-size: 35px;
    text-align: center;
}
.productBlurb {
    font-family: Lucida Sans;
}
.rowPadding {
    padding-bottom: 70px;
}




/*PLANT KNOW-HOW PAGE STYLING*/
.palmBackground {
    position: absolute;
    opacity: .5;
}
.plantKnowHowPadding {
    padding: 50px;
}
.plantKnowHow {
    text-align: center;
    text-transform: capitalize;
}
.plantBlurbWhite {
    background-color: white;
    padding: 20px;
}
.littleGreenBox {
    position: absolute;
    background-color: #DAF0E9;
    padding: 100px;
}
