body {
    color:#4B2E06;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-family: 'Nanum Gothic', sans-serif;
}
body h1, body h2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.miniNav {
    text-align: right;
}
.navBarSection {
    padding: 20px;
}
.navBar ul{
    list-style: none;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
.navBar li {
    display: inline;
    padding-right: 80px;
    color:#4B2E06;
}
.navBar li:hover {
    color:#7189A0;

}
.navBar a:hover {
    text-decoration: none;
}
.navBar {
    padding-top: 30px;
}
.indexBody {
    margin: 0;
    padding: 0;
}
.slider {
    height: 500px;
    width: 100%;
    background-color: gray;
    overflow: hidden;
}
.sliderChild {
    height: 500px;
    width: 500%;
    background-color: green;
    animation: slider infinite 20s 2s;
}
.imagecon{
    height: 500px;
    width: 20%;
    background-color: gray;
    float: left;
}
.imagecon:nth-child(1) {
    background-image: url('../media/personalPicHeroOne.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.imagecon:nth-child(2) {
    background-image: url('../media/personalPicHeroTwo.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.imagecon:nth-child(3) {
    background-image: url('../media/perosnalPicHeroThree.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.imagecon:nth-child(4) {
    background-image: url('../media/personalPicHeroFour.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.imagecon:nth-child(5) {
    background-image: url('../media/personalPicHeroOne.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes slider {
    12.5%{
        margin-left: -100%;
    }
    25%{
        margin-left: -100%;
    }
    376.5%{
        margin-left: -200%;
    }
    50% {
        margin-left: -200%;
    }
    62.5%{
        margin-left: -300%;
    }
    75%{
        margin-left: -300%;
    }
    87.5%{
        margin-left: -400%;
    }
    100%{
        margin-left: -400%;
    }
}
.littleCaption, .littleCaptionTwo, .littleCaptionButton {
    color: white;
    text-align: center;
    position: relative;
}
.littleCaption {
    padding-top: 70px;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: .5px .5px #070707;
}
.littleCaptionTwo {
    font-size: 50px;
    text-transform: capitalize;
}
.littleCaptionButton {
    text-align: center;
    font-size: 17px;

}
.littleCaptionButton a {
    color: white;
    text-transform: capitalize;
}
.littleCaptionButton a:hover {
    text-decoration: none;
}
.littleCaptionButton button {
    background-color:#B8D3EC;
    border: none;
    border-radius: .5;
    padding: 15px;
}
.littleCaptionButton button:hover {
    text-decoration: none;
}
.fernTwo {
    text-align: left;
}
.blurbTwo h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 15px;
}
.blurbTwoInfo {
    text-align: center;
    font-size: 18px;
    padding-bottom: 50px;
}
.readOurStory {
    margin-left: 480px;
    border: .5px;
    padding: 18px;
    border-radius: 3.5px;
    background: #B8D3EC;
    color:#4B2E06;
    text-transform: uppercase;
}
.readOurStory:hover {
    background-color:#4B2E06;
    color:#B8D3EC;
}
.fern {
    text-align: right;
}
.boxOne {
    background-color: #DAF0E9;
    padding-left: 100px;
    padding: 70px;
}
.photoBlurb {
    background-color: white;
    padding: 11px;
}
.boxOneBlurb h2{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}
.boxOneBlurbP, .boxTwoBlurbP {
    color: #4B2E06;
    font-size: 25px;
    text-align: center;
}
.boxOneBlurb a:hover, .boxOneBlurb a:hover, .noDecoration:hover {
    text-decoration: none;
}
.boxTwo {
    background-color:#B8D3EC;
    padding: 70px;
}
.igBlurb {
    padding: 90px;
    text-align: center;
}
.igBlurb h2 {
    text-transform: uppercase;
    font-size: 40px;
}
.igBlurb a {
    font-size: 25px;
    color: #4B2E06;
}
.igBlurb a:hover, .boxOneBlurb a:hover {
    text-decoration: none;
    font-size: 30px;
    color:#B8D3EC;
}
.paddingForIg {
    padding-bottom: 30px;
}

.paddingForIg a:hover {
    text-decoration: none;
}
.boxTwoBLurb h2 {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}
.photoBlurbTwo {
    background-color: white;
    padding: 11px;
}
.paddingBoxTwo {
    padding-left: 40px;
}
.icons {
    padding-left: 20px;
}
.footerBackground {
    background-color: #164734;
    padding: 25px;
}
.copyrightBackground, .emailListBlurb {
    background-color: #EFF8F5;
}
.miniNavFooter {
    text-align: right;
}
.footerVisitUs h3, .footerRowTwo h3, .footerRowThree h3{
    color: #B8D3EC;
    font-size: 25px;
    text-transform: uppercase;
}
.footerVisitUs p, .pageLinks {
    color: white;
    line-height: 1.9;
    list-style: none;
    text-transform: capitalize;
    font-size: 20px;
    margin: 0;
}
.footerRowTwo a:hover, .footerRowThree a:hover {
    text-decoration: none;
    color:#B8D3EC;
}
.miniFooter {
    font-size: 15px;
    text-transform: uppercase;
}
.terms {
    text-align: center;
}
.creatorTag {
    text-align: right;

}
.creatorTag a {
    text-decoration: none;
    color: #4B2E06;
}
.creatorTag a:hover {
    text-decoration: none;
    color:#B8D3EC;
}
.headerLines {
    text-align: center;
}



/*PLANTS PAGE STYLING*/
.sliderChildPlants {
    height: 500px;
    width: 500%;
    background-color: green;
    animation: slider infinite 25s 2s;
}
.imageconPlants {
    height: 500px;
    width: 20%;
    background-color: gray;
    float: left;
}
.imageconPlants:nth-child(1) {
    background-image: url('../media/heroThirteen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.imageconPlants:nth-child(2) {
    background-image: url('../media/plantHeroTwo.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.imageconPlants:nth-child(3) {
    background-image: url('../media/plantsHeroOne.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.imageconPlants:nth-child(4) {
    background-image: url('../media/plantHeroThree.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.imageconPlants:nth-child(5) {
    background-image: url('../media/plantHeroFour.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.imageconPlants:nth-child(6){
    background-image: url('../media/heroThirteen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.plantHero {
    padding-left: 100px;
}
.plantBlurbBackground{
    background-color: #DAF0E9;
}
.plantsBlurb, .bottomPlantBlurb {
    font-size: 30px;
    text-align: center;
    padding: 60px;
}
.postHeroWithCircles {
    margin-left: -192px;
}
.circleList ul {
    list-style: none;
}

.circleList  {
    font-size: 20px;
    font-style: none;
    padding-top: 25px;
}
.circles {
    border-radius: 50%;
}

.inBetween {
    padding-bottom: 71px;
}

.inBetween p {
    font-size: 17px;
    font-style: unset;
    padding-top: 40px;
    font-family: sans-serif;
}
.bottomPlantBlurbBackground {
    background-color:#B8D3EC;
}



/*ABOUT US PAGE STYLING*/

.aboutUsHeader h1, .ourTeam {
    color:#B8D3EC;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding: 40px;
}
.aboutUsHeader h1 {
    color: #4B2E06;
}
.aboutUsPhoto {
    padding-left: 20%;
}
.aboutUsBlurbBackground {
    background-color:#B8D3EC;
}
.aboutUsBlurb {
    padding: 20px;
    font-size: 25px;
    text-align: center;
}
.littlePadding {
    padding-bottom: 25px;
}
.name, .favoritePlant, .favoriteProduct {
    text-transform: capitalize;
}
.position {
    text-transform: uppercase;
}
.mapMain {
    padding: 60px;
}
.comeSeeUsBackground {
    background-color: #B8D3EC;
    padding: 50px;
}
.comeSeeUs {
    text-transform: uppercase;
    color: #4B2E06;
    font-size: 50px;
    padding-bottom: 15px;

}
.comeVisitUsBlurb {
    font-size: 15px;
}
.hoursAndNumber {
    text-transform: uppercase;
}




/*PRODUCTS PAGE STYLING*/
.greenBackground {
    background-color: #EFF8F5;
}
.blueBackground {
    background-color: #B8D3EC;
}
.blueBackground, .greenBackground {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 70px;
    padding-right: 70px;
}
.productContainer {
    padding: 60px;
}
.productTitle {
    text-transform: uppercase;
    text-align: center;
}
.smallTitles {
    text-transform: capitalize;
    font-size: 35px;
    text-align: center;
}
.rowPadding {
    padding-bottom: 70px;
}




/*PLANT KNOW-HOW PAGE STYLING*/
.littleLeaf {
    position: absolute;
    left: 0;
}
.bigLeaf {
    position: absolute;
    right: 0;
}
.paddingPlantCarePage {
    padding-top: 60px;
    padding-bottom: 150px;
}
.plantKnowHow {
    padding-top: 200px;
    text-align: center;
    text-transform: capitalize;
}
.calendarContainer {
    text-align: center;
}
.aboutPlantingDiagram {
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
}
.theDiagram {
    padding-left: 100px;
}

.imagecon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.25);
}
.imagecon {
    position: relative;
    height: 500px;
    width: 20%;
    background-color: gray;
    float: left;
}